html,body {
    width: 100%;
    height: 100%;
}

/* flip from blue to yellow */

.flip {
    width: 1300px;
    height: 100%;

    perspective: 600px;
}

.heads {
    position: absolute;

    width: 1300px;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: transform .5s;
    animation: turn 1s;

}

@keyframes turn {
    0% { background: #0072CE; transform: rotateY(0deg);  }
       
    100% { background: #f9cc43; transform: rotatey(180deg);}
}

.blue_box  {
	Width: 100vw;
    height: 100vw;
    background: #0072CE; 
    Position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;


}


/* unvisited link */
a:link {
  color: #FFD100;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #1f5214;
  text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.wrapper {
    width: 1300px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
}

.section {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.one {
    background: #FFD100;
}

.two {
    background: #43B02A;
}

.three {
    background: #0072CE;
}

.four {
    background: #FF8F1C;
}

.five {
    background: #43B02A;
}

.six {
    background: #FFD100;
}



.hello_question  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 130px;
    position: absolute;
    width: 200px;
	height: 50px;
    position: absolute;
    top: 30%;
    left: 35%;
    animation: bounce 1s forwards;
    
}

.hello_subhead  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 60px;
    color: black;
    position: absolute;
    visibility: hidden;
	height: 80vmin;
    top: 400px;
    width: 100%;
    text-align: center;
    animation: appear 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards; 

}

.sectionhead  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
	height: 80vmin;
    top: 50px;
    width: 100%;
    left: 30%;


}

.sectionheadleft  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
	height: 80vmin;
    top: 50px;
    width: 100%;
    left: 0%;


}

.introtext  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
    color: white;
    line-height: 1.25;
    position: absolute;
    
	height: 80vmin;
    top: 100px;
    left: 30%;
    

}

.maintext  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 1.25;
    position: absolute;
    
	height: 80vmin;
    top: 100px;
    left: 30%;
    right: 7%;

}

.maintextleft  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 1.25;
    position: absolute;
 	height: 80vmin;
    top: 100px;
    left: 0%;
    right: 35%;

}

.big10  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 1.35;
    position: absolute;
 	height: 80vmin;
    top: 150px;
    left: 2%;
    right: 37%;

}

.sectionanchor {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    position: absolute;
    width: 40%;
    
}

.circle {
    width: 100px;
    height: 100px;
    background: rgba(255, 209, 0, 0.6);
    border-radius: 100%;
    position: absolute;
    top: -25px;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}

.translation10  {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    line-height: 1.70;
    position: absolute;
    left: 1005px;
 	height: 80vmin;
    top: 75px;
    z-index: 2;
}

.translation  {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    line-height: 1.75;
    position: absolute;
    left: 25px;
 	height: 80vmin;
    top: 50px;

}

.ascii { top: 100px;
        left: 5%;
        }

.ascii:hover > .circle {
    opacity: 1;
    left: 100px;
    transition: 1s;
}

.big { top: 250px;
        left: 14%;
        }

.big:hover > .circle {
    opacity: 1;
    left: 60px;
    transition: 1s;
}

.forgot { top: 400px;
        left: -3%;
        }

.forgot:hover > .circle {
    opacity: 1;
    left: 150px;
    transition: 1s;
}

.all { top: 550px;
        left: 0%;
        }
.all:hover > .circle {
    opacity: 1;
    left: 200px;
    transition: 1s;
}

.asciiart  {
    font-family: 'Noto Sans', sans-serif;
    color: #FFD100;
    position: absolute; 
}

.signlb  {
    left: 160px;
    top: 5%;
}

.signat  {
    left: 0px;
    top: 20%;
}

.signgt  {
    left: 178px;
    top: 26%;
}

.signques  {
    left: 300px;
    top: 20%;
}

.signA  {
    left: 20px;
    top: 47%;
}

.signamp  {
    font-size: 160px;
    left: 130px;
    top: 40%;
}

.signZ  {
    left: 300px;
    top: 47%;
}

.signplus {
    left: 5px;
    top: 62%;   
}

.signlt  {
    left: 178px;
    top: 68%;
}

.signaste {
    left: 300px;
    top: 65%;   
}

.signperc  {
    left: 150px;
    top: 80%;
}
/*  Global Script Illustration  */

.globalart  {
    font-family: 'Noto Sans', sans-serif;
    color: #FF8F1C;
    position: absolute; 
}
.sign1  {
    left: 1060px;
    top: 7%;
}

.sign2  {
    font-size: 140px;
    left: 910px;
    top: 20%;
}

.sign3  {
    left: 1105px;
    top: 26%;
}

.sign4  {
    left: 1200px;
    top: 22%;
}

.sign5  {
    left: 960px;
    top: 47%;
}

.sign6  {
    font-size: 170px;
    left: 1050px;
    top: 40%;
}

.sign7  {
    left: 1240px;
    top: 48%;
}

.sign8 {
    left: 920px;
    top: 65%;   
}

.sign9  {
    left: 1100px;
    top: 70%;
}

.sign10 {
    font-size: 150px;
    left: 1200px;
    top: 60%;   
}

.sign11  {
    left: 1080px;
    top: 80%;
}


/*  End Global Script Illustration  */

.yassas  {
    left: 50px;
    top: 80%;
}

.caption_1 {
    animation: appear 1s;
    animation-delay: 6s;
    animation-fill-mode: forwards; 

}

@keyframes type_appear {
    0% {visibility: hidden;}
    50% {visibility: visible;}
    100% {visibility: hidden;}
}


.hover_1 {
    height: 90px;
    width: 260px;
    top: 20px;
    left: 10px;
    position: absolute;
    z-index: 99;
}


.caption_1 {
    font-size: 16px;
    color: white;    
    left: 60px;    
    top: 100px;
    position: absolute;
    
}

.hover_2 {
    height: 90px;
    width: 260px;
    top: 150px;
    left: 10px;
    position: absolute;
    z-index: 99;
}

.caption_2 {
    font-size: 16px;
    color: white; 
    position: absolute;
    left: 80px;
    top: 220px;

}

.hover_3 {
    height: 90px;
    width: 260px;
    top: 280px;
    left: 10px;
    position: absolute;
    z-index: 99;
}

.caption_3 {
    left: 85px;
    top: 350px;
    font-size: 16px;
    color: white;
    position: absolute;
}

.hover_4 {
    height: 90px;
    width: 260px;
    top: 400px;
    left: 10px;
    position: absolute;
    z-index: 99;
}

.caption_4 {
    position: absolute;
    left: 90px;
    top: 470px;
    font-size: 16px;
    color: white;
}

.hover_5 {
    height: 90px;
    width: 260px;
    top: 540px;
    left: 10px;
    position: absolute;
    z-index: 99;
}

.caption_5 {
    position: absolute;
    left: 95px;
    top: 605px;
    font-size: 16px;
    color: white;
}

.hover_6 {
    height: 90px;
    width: 260px;
    top: 25px;
    left: 10px;
    text-align: center;
    position: absolute;
    z-index: 99;
}

.caption_6 {
    font-size: 16px;
    color: white; 
    position: absolute;
    left: 100px;
    top: 100px;

}

.hover_7 {
    height: 90px;
    width: 260px;
    top: 150px;
    left: 10px;
    position: absolute;
    z-index: 99;
}

.caption_7 {
    font-size: 16px;
    color: white; 
    position: absolute;
    left: 100px;
    top: 230px;

}

.hover_8 {
    height: 90px;
    width: 260px;
    top: 280px;
    left: 10px;
    position: absolute;
    z-index: 99;
}

.caption_8 {
    left: 85px;
    top: 360px;
    font-size: 16px;
    color: white;
    position: absolute;
}

.hover_9 {
    height: 90px;
    width: 260px;
    top: 420px;
    left: 10px;
    position: absolute;
    z-index: 99;
}

.caption_9 {
    position: absolute;
    left: 90px;
    top: 495px;
    font-size: 16px;
    color: white;
}

.hover_10 {
    height: 90px;
    width: 260px;
    top: 550px;
    left: 10px;
    position: absolute;
    z-index: 99;
}

.caption_10 {
    position: absolute;
    left: 95px;
    top: 620px;
    font-size: 16px;
    color: white;
}

.white {color: white;}
.black {color: black;}
.yellow {color: #FFD100}
.large {font-size: 120px;}
.medium {font-size: 75px;}
.small {font-size: 50px;}
.center {text-align: center}


    

.scroll  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    color: black;
    position: absolute;
    visibility: hidden;
	height: 80vmin;
    top: 95%;
    width: 100%;
    text-align: right;
    animation: appear 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards; 

}

@keyframes bounce {
	
	0%	{ top:1000px;   }
    70% { top:250px;  }
    80% { top:200px;  }
	100% { top:250px;  }

}

@keyframes appear {
    0% {visibility: hidden;}
    100% {visibility: visible;}
}

@keyframes move {
    0% {visibility: hidden;}
    100% {visibility: visible;}
}

@keyframes flipheads {
    transform: rotateY(-180deg);
}


@keyframes fliptails {
    transform: rotateY(0deg);
}

/*test mouse over*
a:hover {
background:##43B02A; 
text-decoration:none;
} 


a.tooltip span {
display:none; 
padding:2px 3px; 
margin-left:-20px; 
width:130px;
}

a.tooltip:hover span{
display:inline; 
position:absolute; 
background:##43B02A;  
color:#ffff;
}
*end test mouse over*/